#FenInDiv {
	position: relative;
	left: 60px;
}

#fenIn { 
 width: 480px;
 left: 60px;
}

#Board {
	position: relative;
	top: 20px;
	left: 60px;
	width: 480px;
	height: 480px;
	border-style: solid;
	border-width: 2px;
}

#EngineOutput {
	position: absolute;
	left: 600px;
	top: 250px;	
}

.Square {
	position: absolute;	
	width: 60px;
	height: 60px;
}

.Dark {
	background-color:#B58863;
}

.Light {
	background-color:#F0D9B5;
}

.SqSelected {
	background-color:#CDD26A;
}

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
	position: absolute;
}
.cletter{
	font-weight: bold;
	position: absolute;
	bottom:1px;
	left:1px;
}
.cletter-light{
	color:#F0D9B5;
}
.cletter-dark{
	color:#B58863;
}
.cnumber{
	font-weight: bold;
	position: absolute;
	right:1px;
	top:1px;
}
.cnumber-light{
	color:#F0D9B5;
}
.cnumber-dark{
	color:#B58863;
}
.whiteChoice, .blackChoice{
	position: absolute;
	border: 2px black solid;
	border-radius: 10px;
	display: none;
	z-index: 1002;
	background-color: gray;
	opacity: .9;
}
.choice-rank-1 img, .choice-rank-2 img{
}
.choice-rank-1 img:hover{
	background-color:#CDD26A;
	border-radius: 10px;
}
.choice-rank-2 img:hover{
	background-color:#CDD26A;
	border-radius: 10px;
}
.hider{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1001;
}


































